/* 
    Created on : Dec 11, 2018, 2:43:40 AM
    @author CodeSolz <customer-service@codesolz.net>
*/
#product_binder{ margin-top: 25px;}
#product_binder .text-right{
    text-align: right;
}
#product_binder  .m-b-5 {
    margin-bottom: 5px !important;
}
#product_binder  .m-15 {
    margin-bottom: 15px;
}
#product_binder  .m-t-0 {
    margin-top: 0 !important;
}
#product_binder  .typehead-error{
    position: relative;
    z-index: 9;
    margin-top: 0px;
}
#product_binder  .m-t-15 {
    margin-top: 15px  !important;
}
#product_binder .text-muted {
    color: #98a6ad;
}
#product_binder .m-b-0 {
    margin-bottom: 0 !important;
}
#product_binder .no-bottom-margin{
    margin-bottom: 0px !important;
}
#product_binder .no-bottom-border{
    border-bottom: 0px !important;
}
#product_binder .panel{
    background: #fff;
    box-shadow: none;
    border: 2px solid #fab13f;
    border-radius: 4px;
    padding: 1em;
}
#product_binder .panel .panel-heading{
    background: #00bce4;
    padding: 15px;
    border-radius: 4px 4px 0px 0px;
}
#product_binder .panel-heading h3{
    margin: 0px 0px 10px 0px;
}
#product_binder .panel-heading p{
    margin: 0px;
    font-weight: 500;
}
#product_binder .panel .panel-footer{
    background: #00bce4;
    padding: 10px;
    border-radius: 0px 0px 4px 4px;
}

#product_binder .panel .panel-footer p{
    text-align: right;
    margin: 0px;
}

#product_binder .panel .panel-body{
    background: aliceblue;
    padding: 15px;
    margin: 15px 0px;
}
#product_binder .panel .panel-body p{
    font-weight: 500;
}
#product_binder .panel .bg-white{
    background: #fff;
    border:2px solid aliceblue;
}

/*#product_binder .panel .panel-body{
    padding: 10px 16px;
    color: #777;
}*/
#product_binder .form-group{
    padding-bottom: 20px;
    padding-top: 15px;
    border-bottom: 1px dashed #00bce4;
    margin: 20px 0px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
#product_binder .form-group .label{
    width: 25%;
    font-weight: bold;
    padding-bottom: 15px;
}
#product_binder .form-group .input-group{
    width: 100%;
}
#product_binder .form-group .form-control{
    width: 100%;
    padding: 9px;
    margin-top: -5px;
    border: 2px solid aliceblue;
    box-shadow: none;
    border-radius: 4px;
    line-height: inherit;
}
#product_binder input[type="search"]{
    padding: 2px 10px;
    border: 2px solid aliceblue;
    box-shadow: none;
    border-radius: 0px;
}
#product_binder .form-group .field-width-35-percent{ width: 35%; }
#product_binder .form-group .field-width-120-px{ width: 120px; }
#product_binder .form-group .width-180{ width: 180px; }

#product_binder .form-group .form-control:focus, #product_binder input[type="text"]:focus,
#product_binder input[type="date"]:focus,
#product_binder input[type="search"]:focus,
#product_binder #bulk-action-selector-top:focus,
#product_binder #bulk-action-selector-bottom:focus
{
    border: 2px solid #00a0d2;
}
#product_binder input[type="text"], #product_binder input[type="date"]{
    border: 2px solid #ddd;
    border-radius: 4px;
}
#product_binder select, #product_binder input[type="number"]{
    height: 40px;
}

#product_binder #bulk-action-selector-top, #product_binder #bulk-action-selector-bottom{ 
    height: auto !important; 
    border: 2px solid aliceblue;
    box-shadow: none;
}
#product_binder .tablenav{ margin-bottom: 10px; }

#product_binder .form-group input.readonly, #product_binder .form-group input[readonly],
#product_binder .form-group textarea.readonly, #product_binder .form-group textarea[readonly]{
    background-color: ghostwhite;
}

@media screen and (max-width: 769px) {
    #product_binder .form-group { 
        display: inline-block;
        width:auto;
    }
    #product_binder .form-group .label{
        margin-bottom: 20px;
        width: 100%;
    }
}

#product_binder .no-border{
    border: 0px;
}

#product_binder .well{
    background: aliceblue;
    padding: 15px;
    margin-bottom: 15px;
    /*font-style: italic;*/
}
#product_binder .well ul, #product_binder .well ul li{
    margin: 0px;
    padding: 0px;
}
#product_binder .btn-custom-submit{
    background: #00aeff;
    padding: 10px 15px;
    border: none;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    min-width: 150px;
}
#product_binder .btn-custom-submit:hover, #product_binder .button:hover{
    background: #0099cc;
}
#product_binder .button{
    background: #00aeff;
    box-shadow: none;
    border-radius: 0px;
    border: none;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
}
#product_binder #search-submit{
    height: auto;
    padding: 3px 20px;
}

#product_binder .section-submit-button{
    padding: 10px 15px;
    border: 2px solid aliceblue;
    border-top: 0px;
    background: aliceblue;
    margin-bottom: 15px;
}

#product_binder .hide, #product_binder .hidden{
    display: none;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
}
#product_binder .show{
    display: block;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
}
#product_binder .show-flex{
    display: flex;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
}

#product_binder .margin-zero{
    margin-top: 0px;
}

#product_binder .flex-grid{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
}
#product_binder .flex-right-col{
    margin-left: auto;
}
#product_binder .flex-grid h3{
    padding-top: 4px;
}

#product_binder .cs-notice{
    background: #fff;
    border-left: 4px solid #fff;
    border-radius: 0px 4px 4px 0px;
}
#product_binder .cs-notice .cs-notice-label{
    display: table-cell;
    vertical-align: top;
    padding: 10px;
    margin: 0;
    white-space: nowrap;
    font-weight: bold;
}
#product_binder .cs-notice .cs-notice-message {
    display: table-cell;
    vertical-align: top;
    padding: 10px 20px;
    margin: 0;
    line-height: 1.5em;
    width: 100%;
}

#product_binder .warning {
    border-left-color: #fab13f;
    border-top: 1px solid #fab13f;
    border-bottom: 1px solid #fab13f;
    border-right: 1px solid #fab13f;
}
#product_binder .warning .cs-notice-label{
    background: rgba(255,189,74,.2);
    border-right: 1px solid #fab13f;
}
#product_binder .warning:hover .cs-notice-message{
    background: rgba(255,189,74,.2);
    transition: .5s all;
}
#product_binder .card-box {
    border: 1px solid rgba(54,64,74,.05);
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    background-clip: padding-box;
    margin-bottom: 20px;
    background-color: #fff;
    padding: 20px;
}
#product_binder .card-box h3{
    font-weight: bold;
}
#product_binder .table-box {
    display: table;
    height: 100%;
    width: 100%;
}
#product_binder .table-box .table-detail {
    display: table-cell;
    vertical-align: middle;
}
#product_binder .bar-widget .iconbox {
    display: inline-block;
    height: 50px;
    width: 50px;
    margin-right: 20px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -moz-border-radius: 50%;
    background-clip: padding-box;
    color: #fff;
    text-align: center;
}
#product_binder .bg-info {
    background-color: #34d3eb;
}
#product_binder .bar-widget .iconbox i {
    line-height: 50px;
    font-size: 20px;
}
#product_binder .bar-widget .iconbox svg{
    font-size: 30px;
    padding-top: 9px;
}
#product_binder .stats-header{
    padding: 20px;
    border: 2px solid azure;
    background: chartreuse;
    border-radius: 4px;
    margin: 17px 0px;
    font-size: 13px;
    font-weight: bold;
    color: #333;
}
#product_binder .font-italic{
    font-style: italic;
}
#product_binder .inf-auth-section{ 
    margin: 10px;
    padding-left: 172px;
}
#product_binder .inf-auth-section a.auth-required{
    color: #fff;
    padding: 8px 8px;
    font-weight: bold;
    text-decoration: none;
    background: red;
}

ul.typeahead__list{
    padding: 0px;
}
.typeahead__list li{
    margin: 0px;
}
#product_binder .alert{ padding: 12px 15px;}
#product_binder .alert-warning{ background: blanchedalmond; border: 1px solid burlywood; }
#product_binder .section-title{background: aliceblue;padding: 12px;margin-bottom: 30px;font-weight: bold;font-size: 14px;}
#product_binder .section-description{margin-top: -30px;margin-bottom: 30px;background: #fffeee;padding: 10px 12px;font-style: italic;}
#product_binder .badge{ padding: 4px 11px 5px; font-weight: bold; border-radius: 6px; }
#product_binder .badge-warning{ background: moccasin; color: red; border: 1px solid red;}
#product_binder .badge-success{ background: #A4D1A2; color: forestgreen; border: 1px solid forestgreen;}
#product_binder #offer_info{width: 30%}
#product_binder .btn-back{ background: coral; text-decoration: none;}
#product_binder a{ cursor: pointer; }
#product_binder .hidden-text{ display: none; }
#product_binder .address{ hyphens: auto; word-wrap: break-word; }
#product_binder th#address{ width: 25%; }
#product_binder td{ vertical-align: middle;}
#product_binder .success-text{ color: forestgreen; font-weight: bold; }
#product_binder .warning-text{ color: red; font-weight: bold; }
#product_binder .updated{ border:1px solid forestgreen; border-left: 4px solid forestgreen;box-shadow: none; background: aliceblue; }
#product_binder .updated p{ color: forestgreen;font-weight: bold !important; }
#product_binder .error{ border:1px solid red; border-left: 4px solid red;box-shadow: none;  }
#product_binder .error p{ color: red;font-weight: bold !important; }
#product_binder .select2-container{ width: 100% !important; }
#product_binder .select2-search__field{ padding: 5px 10px !important; }
#product_binder li.select2-selection__choice{ padding: 10px 12px; margin: 5px 4px 0px 0px; }
.wapg-message{ margin: 5px 0 15px !important;}